body {
    background-color: lightsteelblue;
}

* {
    background-color: lightsteelblue;
}

.exit-btn{
    position: absolute;
    top: 0;
    right: 0;
}

.msg-send{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    border-radius: 25px;
    background-color: #7d8c9e;
    padding: 10px;
    position: relative;
    min-width: 100px;
    text-align: center;
}

.msg{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    border-radius: 25px;
    background-color: #7d8c9e;
    padding: 10px;
    position: relative;
    min-width: 100px;
    text-align: center;
}

.msg-user{
    position: absolute;
    left: 3px;
    top: -15px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: #e4f0ff;
    border-radius: 5px;
    padding: 3px;
}

.msg-user-send{
    position: absolute;
    right: 3px;
    top: -15px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background-color: #e4f0ff;
    border-radius: 5px;
    padding: 3px;
}

.msg-time-send{
    position: absolute;
    max-height: 1rem;
    right:0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}

.msg-time{
    position: absolute;
    max-height: 1rem;
    left: 0;
    bottom: -15px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
}